
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
@model Slider
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description">
                Edit Slider
            </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="PrimaryTitle"></label>
                    <input asp-for="PrimaryTitle" class="form-control">
                    <span asp-validation-for="PrimaryTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondaryTitle"></label>
                    <input asp-for="SecondaryTitle" class="form-control">
                    <span asp-validation-for="SecondaryTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="form-control">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Order"></label>
                    <input asp-for="Order" class="form-control">
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>

