
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HomeVM

@foreach (Product prod in Model.FeaturedProducts)
{
            <div class="col-xl-3 col-md-4 col-sm-6 mt-4">
            <div class="product-item">
            <div class="product-img">
                <a href="shop.html">
                <img
                class="primary-img"
                src="~/assets/images/product/@prod.ProductImages?.FirstOrDefault(pi=>pi.IsCover==true)?.ImageUrl"
                alt="Product Images"
            />
                    @if (prod.ProductImages?.FirstOrDefault(pi => pi.IsCover == false) != null)
                    {
                        <img
                    class="secondary-img"
                    src="~/assets/images/product/@prod.ProductImages?.FirstOrDefault(pi=>pi.IsCover==false)?.ImageUrl"
                    alt="Product Images"
                />
                    }
                </a>
                <div class="product-add-action">
                <ul>
                    <li>
                    <a
                    href="wishlist.html"
                    data-tippy="Add to wishlist"
                    data-tippy-inertia="true"
                    data-tippy-animation="shift-away"
                    data-tippy-delay="50"
                    data-tippy-arrow="true"
                    data-tippy-theme="sharpborder"
                >
                        <i class="pe-7s-like"></i>
                    </a>
                    </li>
                    <li
                class="quuickview-btn"
                data-bs-toggle="modal"
                data-bs-target="#quickModal"
                >
                    <a
                    href="#"
                    data-tippy="Quickview"
                    data-tippy-inertia="true"
                    data-tippy-animation="shift-away"
                    data-tippy-delay="50"
                    data-tippy-arrow="true"
                    data-tippy-theme="sharpborder"
                >
                        <i class="pe-7s-look"></i>
                    </a>
                    </li>
                    <li>
                    <a
                        asp-controller="Product"
                    asp-action="AddBasket"
                    asp-route-id="@prod.Id"
                    data-tippy="Add to cart"
                    data-tippy-inertia="true"
                    data-tippy-animation="shift-away"
                    data-tippy-delay="50"
                    data-tippy-arrow="true"
                    data-tippy-theme="sharpborder"
                >
                        <i class="pe-7s-cart"></i>
                    </a>
                    </li>
                </ul>
                </div>
            </div>
            <div class="product-content">
                <a class="product-name" href="shop.html"
            >@prod.Name</a
            >
                <div class="price-box pb-1">
                <span class="new-price">$@prod.SellPrice</span>
                </div>
                <div class="rating-box">
                    <ul>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
                </div>
            </div>
            </div>
        </div>
}
